altgraph==0.17.5
blinker==1.9.0
bottle==0.13.4
browser-cookie3==0.20.1
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
cryptography==49.0.0
et_xmlfile==2.0.0
Flask==3.1.3
google-auth==2.55.2
google-auth-oauthlib==1.4.0
greenlet==3.5.3
gspread==6.2.1
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
lz4==4.4.5
macholib==1.16.4
MarkupSafe==3.0.3
oauthlib==3.3.1
openpyxl==3.1.5
packaging==26.2
playwright==1.61.0
playwright-stealth==2.0.3
proxy_tools==0.1.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pycryptodomex==3.23.0
pyee==13.0.1
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pyobjc-core==12.2.1
pyobjc-framework-Cocoa==12.2.1
pyobjc-framework-Quartz==12.2.1
pyobjc-framework-Security==12.2.1
pyobjc-framework-UniformTypeIdentifiers==12.2.1
pyobjc-framework-WebKit==12.2.1
pywebview==6.2.1
requests==2.34.2
requests-oauthlib==2.0.0
setuptools==83.0.0
typing_extensions==4.16.0
urllib3==2.7.0
Werkzeug==3.1.8
